.ProfilePage{
    display: flex;
    flex-direction: column;
}
.ProfileHeader{
width: 500px;
height: 90px;
display: flex;
margin-left: 5px;
align-items: center;
border-bottom: 3px solid black;;
img{
    width: 80px;
    height: 80px;
    padding-left: 10px;
}
h3{
    padding-left: 15px;
}
}

.PrifileContent{
display: flex;
flex-direction: column;
padding: 10px;
font-weight: bold;
font-size: 1.2em;
a{
    text-decoration: none;
    color: blue;
    &:hover{
        color: #fff;
    }
}
}