.ProfilePage{
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.ProfileHeader{
height: 90px;
display: flex;
align-items: center;
background-color: rgba($color: #b1ddf0, $alpha: 0.5);
img{
    width: 80px;
    height: 80px;
    padding-left: 10px;
}
h3{
    padding-left: 15px;
}
}

.PrifileContent{
display: flex;
flex-direction: column;
padding: 10px;
font-weight: bold;
font-size: 1.2em;
a{
    text-decoration: none;
    color: blue;
    &:hover{
        color: #fff;
    }
}
}