.Button{
    display: inline-block;
    border-radius: 4px;
    color: #000;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background:transparent;
    &:hover{
      cursor: pointer;
    };
  }
