.MainPage{
width: 1000px;
height: 100vh;
padding: 10px;
display: flex;
justify-content: space-around;
background-image: url('../../images/cvety.jpg');
background-size: cover;
box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
